
.b-black {
    color: #183c6c;
}
.f-regular {
    font-weight: regular;
}
.f-bold {
    font-weight: bold;
}
.f-25px {
    font-size: 25px;
}
.f-28px {
    font-size: 28px;
}
.f-30px {
    font-size: 30px;
}
.f-somar{
    font-family: 'Somar', sans-serif;"
}
